<div class='row'>
  <div class='six columns'>
    <h3>My Workouts</h3>
  </div>
</div>

<% @workouts.each do |workout| %>
  <div class="workout">
    <div class='row'>
      <div class='four columns'>
        <%= workout.activity.name %> - 
        <%= workout.distance %> miles
      </div>
    </div>
    <div class='row'>
      <div class="three columns">
        <%= workout.format_time %>
      </div>
      <div class="three columns">
        <%= workout.calories_burned %> calories burned
      </div>
    </div>
  </div>
<% end %>

<br>
<div class="summary">
  <div class='row'>
    <div class='six columns'>
      <h5>Weekly Summary</h5>
    </div>
  </div>
  <div class='row'>
    <div class='two columns'>
      <%= @total_distance %> miles
    </div>
  </div>
</div>
