<div class='row'>
  <div class='six columns'>
    <h3>Welcome, <%= current_user.first_name %></h3>
  </div>
</div>
<% if current_user.fitbit_access_token %>
  <div class='row'>
    <div class='three columns'>
      Synced with Fitbit
    </div>
  </div>
<% end %>
<div class='row'>
  <div class='three columns'>
    <strong>Last Workout:</strong>
  </div>
</div>
<div class='row'>
  <div class='three columns'>
    <%= current_user.last_workout %>
  </div>
</div>
<div class='row'>
  <div class='three columns'>
    <%= link_to "Log workout", new_workout_path, class: 'button u-full-width' %>
  </div>
  <div class='three columns'>
    <%= link_to "My Account", account_path, class: 'button u-full-width' %>
  </div>
</div>

<div class='row'>
  <div class='three columns'>
    <%= link_to "My Workouts", workouts_path, class: 'button u-full-width' %>
  </div>
  <div class='three columns'>
    <%= link_to "Team Workouts", team_workouts_path, class: 'button u-full-width' %>
  </div>
</div>

<div class='row'>
  <div class='offset-by-three three columns'>
    <%= link_to "Log out", session_path(current_user), method: :delete, class: 'button u-full-width' %>
  </div>
</div>
